.editor {
  color: #fff;
  .sider {
    background: #22252b;
  }
  
  .header{
    height: 55px;
    padding: 0;
    line-height: 34px;
    background: #22252b;
  }
  .content {
    overflow: hidden;
  }
}

